HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### application properties ###
src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.project
.factorypath
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


# Java
*.class
*.jar
*.war
*.log
*.iml
*.hprof

# Maven
target/
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Spring Boot
spring.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log


# Environment
.env

# Docker (si usas)
docker-compose.override.yml
*.env

